@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

#root {
  width: 100%;
  height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.page {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  --dot-bg: #f9fafb;
  --dot-color: black;
  --dot-size: 0.5px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);

    /* background-color:#f9fafb; */
  }

.page-menu {
  flex: 1;
  display: flex;
  height: 100vh;
  position: sticky;
  top: 0px;
}

.page-content {
  flex: 10;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: auto;
}

.main-seaction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.search {
  display: flex;
  flex-direction: column;
  min-width: 5rem;
  width: inherit;
  max-width: 50rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.search-bar {
  height: 40px;
  border-radius:20px;
  width: 100%;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: #ffff;
  border: none;
  box-shadow: 0 2px 10px 5px rgba(64,60,67,.16);
  color: black;
}

.search-bar::placeholder {
  text-align: center;
}

.results {
  display: flex;
  flex-direction: row;
}

.document {
  background-color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* max-height: 100px; */
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
  cursor: pointer;
}

.result-container {
  margin: 1rem;
  margin-right: 3rem;
}

.document-title {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.document-content {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(106, 106, 106);
}

.document-attributes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.document-attribute {
  background-color: #e8ebfd;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 6px;
  color: #4b5dfe;
  border: 1px solid #0400ff57;
}

.document:hover {
  background-color: rgb(185, 185, 185);
}

.ai-result-container {
  background-color: #3a3a3a;
  border-radius: 6px;
  padding: 1rem;
  color: white;
  position: relative;
  padding: 1rem;
  position: relative;
  background: #0e0e0e;
  border-radius: 20px;
  margin-bottom: 3rem;
  margin-top: 3rem;
  z-index: 5;
}

.result-AI.box {
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: white;
  right: 0px;
}

.box::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0px;
  right: -2px;
  bottom: 0;
  left: 0px;
  background: linear-gradient(-45deg, #ff3d00 0%, #0400ff 100% );
  transform: translate3d(0px, 0px, 0) scale(0.95);
  filter: blur(20px);
  opacity: 1.4;
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
      

.ai-answer-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.menu-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  max-height: 100vh;
  position: sticky;
  top: 0px;
  min-width: 9rem;
}

.menu-conatiner ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0.25rem;
}

.menu-conatiner {
  margin-left: 1rem;
}

.menu-conatiner li {
  background-color: rgb(240, 239, 239);
  margin-top: 5px;
  padding: 0.5rem;
  border: 3px solid #0070f0;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-weight: 400;
  position: relative;
}

.menu-conatiner li:hover {
  background-color: #0070f0;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0px 10px 4px rgba(64,60,67,.16);
  animation: button-hover 0.15s ease-in-out forwards;
}

.menu-conatiner li.selected {
  box-shadow: 0 0px 10px 4px rgba(64,60,67,.16);
  border-radius: 10px;
  background-color: #0070f0;
  padding: 0.5rem;
  color: white
}

.menu-conatiner li:active {
  animation: ripple 0.3s ease-in-out forwards;
}

.button {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgb(240, 239, 239);
  border: 3px solid #0070f0;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-weight: 400;
}

.button.dark {
  background-color: #0070f0;
  color: white;
}

.button.selected {
  box-shadow: 0 0px 10px 4px rgba(64,60,67,.16);
  border-radius: 10px;
  background-color: #0070f0;
  padding: 0.5rem;
  color: white
}

.button:hover {
  background-color: #0070f0;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0px 10px 4px rgba(64,60,67,.16);
  animation: button-hover 0.3s ease-in-out forwards;
}

.button:active {
  animation: ripple 0.15s ease-in-out forwards;
}

@keyframes button-hover {
  0% {
    background-color: initial;
  }
  100% {
    background-color: #0070f0;
    color: white;
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* .skeleton {
  z-index: 100;
} */

.feedback {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.feedback-yes {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.feedback-modal-footer > .button {
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.feedback-modal-footer > .button.light {
  background-color: white;
}

.feedback > .feedback-yes {
  color: greenyellow;
  cursor: pointer;
}

.feedback > .feedback-no {
  color: rgb(255, 65, 65);
  cursor: pointer;
}

.feedback-modal-body > .checkbox-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkbox-field input{
  margin-right: 0.5rem;
}

.input-area {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.input-area textarea {
  border: 1px solid black;
  width: 100%;
  border-radius: 6px;
  min-height: 10rem;
  margin-top: 0.5rem;
}

.logo {
  max-width: 8rem;
  margin-right: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  margin-top: 1rem;
  align-items: center;
  font-size: x-large;
}
